@{
    ViewData["Title"] = "Artwork Detail";
    Layout = "_Layout";
}


<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black;">
</header>


<div class="art-details">
    <div class="art-image">
        <img src="images/exhibit1.jpeg" />
    </div>
    <div class="image-info">
        <h1>Artwork name</h1>
        <p>Year</p>
        <p>Artist name</p>
        <p>70x100cm</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptas ipsa unde dignissimos, non tempore nobis modi quae inventore! Fugiat accusamus ducimus commodi quae doloribus sed rerum, explicabo dolor illum!</p>
    </div>

</div>

<div class="art-container">
    <h2>Other works by this Artist</h2>
    <div class="view-art">
        <div class="artist-artwork">
            <div class="artwork-img">
                <img src="images/exhibit2.jpeg" />
            </div>
            <div class="artwork-info">
                <h3>Artist name</h3>
                <p>Art name</p>
                <p>Size</p>
                <p>Type</p>
            </div>
        </div>

        <div class="artist-artwork">
            <div class="artwork-img">
                <img src="images/exhibit2.jpeg" />
            </div>
            <div class="artwork-info">
                <h3>Artist name</h3>
                <p>Art name</p>
                <p>Size</p>
                <p>Type</p>
            </div>
        </div>

        <div class="artist-artwork">
            <div class="artwork-img">
                <img src="images/exhibit2.jpeg" />
            </div>
            <div class="artwork-info">
                <h3>Artist name</h3>
                <p>Art name</p>
                <p>Size</p>
                <p>Type</p>
            </div>
        </div>

        <div class="artist-artwork">
            <div class="artwork-img">
                <img src="images/exhibit2.jpeg" />
            </div>
            <div class="artwork-info">
                <h3>Artist name</h3>
                <p>Art name</p>
                <p>Size</p>
                <p>Type</p>
            </div>
        </div>

        <div class="artist-artwork">
            <div class="artwork-img">
                <img src="images/exhibit2.jpeg" />
            </div>
            <div class="artwork-info">
                <h3>Artist name</h3>
                <p>Art name</p>
                <p>Size</p>
                <p>Type</p>
            </div>
        </div>


    </div>
</div>
