@model List<Member>

@{
    ViewData["Title"] = "Community";
    Layout = "_Layout";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black; width: 100%;">
</header>

<div class="holder">

    <h1>Members</h1>

    @foreach (Member member in Model)
    {
        <div >

                <h1>@member.Firstname @member.Lastname</h1>
                <p>@member.Email</p>

        </div>
    }
</div>


