@model DSU21_5.Models.Image
@using Microsoft.AspNetCore.Identity
@using DSU21_5.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black; width: 100%;">
</header>

<form asp-action="Create" asp-controller="Profile" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <div class="col-md-5" id="type-art">
            <h2>Change profilepicture</h2>
            <div class="drop-zone">

                <span class="drop-zone__prompt">Drop Image Here</span>
                <p><input asp-for="ImageFile" type="file" name="myFile" class="drop-zone__input" required oninvalid="this.setCustomValidity('Please choose an image to upload')" oninput="this.setCustomValidity('')"></p>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
                <input type="submit" value="Upload" class="btn btn-primary" asp-route-id="@user.Id"/>
        </div>
    </div>
</form>
<div class="gtco-section border-bottom">
    <div class="artwork-container">
        <h4>Current Profile Picture</h4>
        @if (Model != null)
        {

        <picture>
            <img src="~/image/@Model.ImageName">
        </picture>
        }
        else
        {
            <p>Upload a profile picture<br />and show yourself!</p>
        }
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
