@model DSU21_5.Models.Image
@using Microsoft.AspNetCore.Identity
@using DSU21_5.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black; width: 100%;">
</header>

<h2>Showcase Your Artwork</h2>

<form asp-action="Create" asp-controller="Profile" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <input asp-for="ImageName" type="text" class="form-control1" placeholder="Image name">
        <input asp-for="ImageFile" type="file" class="form-control-file" required oninvalid="this.setCustomValidity('Please upload your picture!')" oninput="this.setCustomValidity('')">
        <span asp-validation-for="ImageFile" class="text-danger"></span>
        <input type="submit" value="Upload" class="btn btn-primary" asp-route-id="@user.Id" />
    </div>
</form>
<div class="gtco-section border-bottom">
    <div class="artwork-container">
        <h4>Current Profile Picture</h4>
        @if (Model != null)
        {

        <picture>
            <img src="~/image/@Model.ImageName">
        </picture>
        }
        else
        {
            <p>Upload a profile picture<br />and show yourself!</p>
        }
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
