<!DOCTYPE HTML>
<html lang="sv-se">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Counter-art: Global Showcase  &mdash; Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Login/Register style  -->
    <link rel="stylesheet" href="~/css/site.css">

    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="page">
        <div class="page-inner">
            <nav class="gtco-nav" role="navigation">
                <div class="gtco-container">

            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="gtco-logo"><a href="/">Counter-art: Global Showcase <em>.</em></a></div>
                </div>
                <div class="col-xs-8 text-right menu-1">
                    <ul>
                        <li class="has-dropdown">

                            <a asp-area="" asp-controller="Artwork" asp-action="Index">Artworks</a>
                            <ul class="dropdown">
                                <li><a asp-area="" asp-controller="Artwork" asp-action="Index">Artwork</a></li>
                                <li><a asp-area="" asp-controller="Artwork" asp-action="DigitalArt">Digital Art</a></li>
                                <li><a asp-area="" asp-controller="Artwork" asp-action="Drawing">Drawings</a></li>
                                <li><a asp-area="" asp-controller="Artwork" asp-action="Painting">Paintings</a></li>
                                <li><a asp-area="" asp-controller="Artwork" asp-action="Photography">Photography</a></li>
                                <li><a asp-area="" asp-controller="Artwork" asp-action="ReadyMade">Ready Made</a></li>
                                <li><a asp-area="" asp-controller="Artwork" asp-action="Sculpture">Sculpture</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Exhibit" asp-action="Index">Exhibitions</a></li>
                        <li><a asp-area="" asp-controller="Community" asp-action="Index">Community</a></li>
                        <ul class="login-register"><partial name="_LoginPartial.cshtml" />
                    </ul>
                    
                </div>
            </div>
        </div>
    </nav>
    <div id="page">
        <div id="page-container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


            <footer id="gtco-footer" role="contentinfo">
                <div class="gtco-container">

                        <div class="about-container">
                            <div class="gtco-widget">
                                <h3>About <span class="footer-logo">Counter-art:Global Showcase</span></h3>
                                <p>Counter-art:Global Showcase is a website that enables you to present your artworks digitally in a 3D exhibition showroom which gives you as an artist an opportunity to showcase your work all over the world.</p>
                            </div>
                        </div>

                    <div class="row copyright">
                        <div class="col-md-12">
                            <p class="pull-left">
                                <small class="block">&copy; 2021 Counter-art:Global Showcase All Rights Reserved.</small>
                               
                            </p>
                            <p class="pull-right">
                                <ul class="gtco-social-icons pull-right">
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                </ul>
                            </p>
                        </div>
                    </div>

                </div>

            </footer>
        </div>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/js/jquery.countTo.js"></script>
    <!-- Main -->
    <script src="~/js/main.js"></script>

    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>