@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black;">
</header>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
