#artInfo img {
    max-height: 950px;
    max-width: 1200px;
    min-width: 700px;
    min-height: 700px;
    margin-top: 2%; 
    margin-bottom: 5%;
    float: left;
}



#art-info-text {
    margin: 11%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}





#exit {
    text-align: center;
    padding-top: 5%;
    text-decoration: none;
}

#exit a:hover {
    text-decoration: none;
}

#plus-sign {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: red;
}
