#artInfo img {
    max-height: 950px;
    max-width: 1200px;
    min-width: 700px;
    min-height: 700px;
}
#art-info-text {
    float:left;
    text-align:center;
    margin-left: 25%;
}

#artInfo, #exit {
    text-align: center;
    padding-top: 5%;
    text-decoration: none;
}

#exit a:hover {
    text-decoration: none;
}

#plus-sign {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: red;
}
